<%-include("navigation_bar.ejs")%>
<center>
<h1 class="text-danger text-center">About us</h1>
</center>
<br><br>
<div class="container-fluid">
    <h1 class="text-danger text-center">Trustee's word</h1>

    <div class="row">
        <div class="col-6">
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3214/images/thakur_v_saroopa.jpg" height="500px" width="100%" >
        </div>
        <div class="col-6 text-center text-success text-justify">
            <p>
                A school is an institution designed to provide Learning spaces and Learning environments for the teaching of students (or "pupils") under the direction of well-trained teachers.

We believe in Learning through play-way methods exploration Creativity, Love, Care, Sharing and most important The Confidence.

 

MISSION STATEMENT OF BHARAT GROUP OF SCHOOLS AND COLLEGES 

To develop an all-round personality of the students through various curricular and co-curricular activities.

 

OUR VISION 

To inspire in every child a love for learning and the confidence to explore, grow and achieve as an individual.

 


HISTORY

50 Glorious Years 

The first parent branch of Bharat Group of Schools and Colleges, started in the year 1966 will be completing its 50 years of imparting education to the children of Thane.

Started in one room with just four students. This small seedling in a span of 50 years has grown into a big strong Banyan tree, having several branches which impart secular education to children of all castes and creed.

With just four students, one small room and one teacher, the founder Principal Mr. Thakur V. Saroopa started this school called as Bharat English School.

Late Mr. Thakur V. Saroopa : 
            </p>
        </div>
    </div>
</div>
<br><br>
<div class="container-fluid">
    <h1 class="text-danger text-center">Principal mam</h1>
    <div class="row">
        <div class="col-6">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3214/images/Charu_img.jpg" alt="charu miss" height="500px" width="100%">
        </div>
        <div class="col-6 text-success">
<p>We take children from Primary, Middle and Secondary School through to the Senior Secondary level in a cohesive and well-coordinated way keeping aloft the ideal of excellence all the way along. Exemplifying the very best in education delivered through a variety of media; like classroom lessons, edutainment, projects, field trips, experiments, workshops, etc. We are also leveraging the power of the Internet to bring cutting edge educational content to children to enable their success in the knowledge ecosystem. We are Instilling the qualities of universal love, discipline, dedication, and determination in the hearts of young ones. 
<br>
    We have:-
   <br>
   Well, lit and Airy Classrooms. <br>
   Comfortable benches and desks. <br>
   E-Learning - http://www.bes-efels.efinso.in/ <br>
   CCTV system, covering all classrooms and open areas. <br>
   Inverter power back up. <br>
   Physics Lab. <br>
   Biology Lab. <br>
   Chemistry Lab. <br>
   Kindergarten play area. <br>
   Playground for children. <br>
   Well-equipped Library with around thousands of books. <br>
   Digitally enabled Staff Rooms. <br>
   Fire Safety Equipments.</p>
        </div>
    </div>
</div>
<%-include("footer.ejs")%>
