<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center">welcome to Annual sports</h1><br>
<div style="margin-left: 240px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS959.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS960.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS961.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS962.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS963.jpeg" ><br>
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS975.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS980.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS993.jpeg" >
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8469/images/tn/AS995.jpeg" >
    <br><br><br>
</div>
<%-include("footer.ejs")%>
