<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center">welcome to award_page</h1><br>
<div style="margin-left: 320px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0982.jpeg" height="200px">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0983.jpeg" height="200px">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0987.jpeg" height="200px">
    <br>
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0996.jpeg" height="200px">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0994.jpeg" height="200px">
    <br><br>
    <!-- <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/tn/1000.jpeg" height="200px"> -->
</div>


<%-include("footer.ejs")%>
