<%-include("navigation_bar.ejs")%> <br><br>  
<h1 class="text-success text-center"> awards</h1> <br>
<div class="container">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0893.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0894.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0895.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0896.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0897.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0898.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0899.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0990.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0991.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0992.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0993.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0994.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0995.jpeg" class="img-thumbnail">
<!-- <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8375/images/tn/0996.jpeg" class="img-thumbnail"> -->

<br><br><br>
</div>  
<%-include("footer.ejs")%>
