<%-include("navigation_bar.ejs")%> <br>
<h1 class="text-success text-center">Diwali-page</h1> <br>
<div class="text-center">
   
     <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/1.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/2.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/3.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/4.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/5.jpg" class="img-thumbnail"><br>
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/1.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/2.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/3.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/4.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3291/images/tn/5.jpg" class="img-thumbnail"><br><br><br>
</div>
<%-include("footer.ejs")%>
