<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center">welcome to gokul_ashtami</h1><br><br>
<div style="margin-left: 10%;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0016.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0017.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0018.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0019.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0020.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/PhotoGrid_1566546314882.jpg" class="img-thumbnail"><br>
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/PhotoGrid_1566546147118.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0023.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0022.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/IMG-20190819-WA0021.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/PhotoGrid_1566546375580.jpg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3292/images/tn/img1566545996713.jpg" class="img-thumbnail">
    
</div>

<%-include("footer.ejs")%>
