<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center"> guru pornima </h1><br>
<p class="text-success text-center">On 3rd July 2023  Students of Std 5th to Std 10th (SB) has Celebrated Guru Pournima Day  in Panna English High School.
    The following are the Activities done by the Students </p> <br><br>
    <div class="container" style="margin-left: 280px;">
<!-- <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/8241_guru_pournima_day.html" alt=""> -->
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP0.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP1.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP11.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP12.jpeg" alt=""><br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP13.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP3.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP2.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP16.jpeg" alt="">
</div>
<!-- <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8241/images/tn/GP15.jpeg" alt=""> -->
<%-include("footer.ejs")%>
