<%-include("navigation_bar.ejs")%>
<br>
<h1 class="text-success text-center"> hindi_mela</h1><br>
<div class="container">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA989.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA990.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA994.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA994.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA995.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA996.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA997.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA998.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA999.jpeg" class="img-thumbnail mt-2"> 
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8466/images/tn/MA991.jpeg" class="img-thumbnail mt-2"> 


    <br><br><br><br>

</div>
<%-include("footer.ejs")%>
