<%-include("navigation_bar.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
	<script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<title>P.E.H.S</title>
</head>
<div>
    <!-- <h1>welcome to homepage</h1> -->
    <!-- slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" height="200px">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3200/images/Picnic1.jpg" class="d-block w-100 " alt="..." height="450px">
          </div>
          <div class="carousel-item">
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3200/images/SG14_SS_.jpg" class="d-block w-100" alt="..." height="450px">
          </div>
          <div class="carousel-item">
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3200/images/pann_kg_kids.jpg" class="d-block w-100" alt="..." height="450px">
          </div>
          <div class="carousel-item">
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3200/images/ss12.jpg" class="d-block w-100" alt="..." height="450px">
          </div>
        </div>
        <button class="carousel-control-prev bg-success" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
          <span class="carousel-control-prev-icon " aria-hidden="true" ></span>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next bg-success" type="button" data-target="#carouselExampleIndicators" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </button>
      </div>
      <!-- notice bar -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="recent_event" style="height: 430px; width: 100%; color: rgb(26, 255, 0);background-color: black;border: 2px solid greenyellow;border-radius: 10px;margin-top: 50px;font-size: 25px;">                    
                    <h1><B><center><I>RECENT EVENT</I></center></B></h1>
                    <p><br>
                      <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/t/38/img/pin1.png" height="30px" width="40px" style="position: absolute;margin-top: -30px;">
                    Explore International Yoga Day 2023 through captivating snapshots - click here for the zen vibes ! <br>
                    Dive into joy! Click here for snapshots from our Primary Christmas Celebration. 🎅📷<br>
                    Unveil the adventure ! Click  for vibrant snapshots from Scout Guide Camp 2023. <br>
                    Celebrate the bond! Click for lively Rakshabandhan 2023 photos by CBSE students. 🌟 <br>
                    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/t/38/img/pin1.png" height="30px" width="40px"  style="position: absolute; margin-left: 650px;">

                  </p>  
                </div>
            </div>
            <div class="col-6">
                <div class="upcomming_event"style="height: 430px; width: 100%; color: rgb(26, 255, 0);background-color: black;border: 5px solid greenyellow;border-radius: 10px;margin-top: 50px;font-size: 25px;">
                    <img src="https://gifdb.com/images/high/back-to-school-400-x-278-gif-7p307c4sbxo992yk.gif" height="100%" width="100%" alt="gif">
                </div>
            </div>
        </div>
      </div>
<!-- featured stories -->
<br><br>

<div style="height: 500px; width: 100%;">
 <h1 style="color: greenyellow;text-decoration: dashed;"><center>FEATURED STORIES</center></h1> <br>
 <div class="card" style="width: 18rem; float: left;margin-left:150px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3203/images/YD3_SS_.jpg" class="card-img-top" alt="...">
    <div class="card-body">   
      <p class="card-text">Click here For  International Yoga Day Pictures</p>
      <a href="#" class="btn btn-primary">lets see more..!!</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; float: left;margin-left:150px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3204/images/WhatsApp_Image_2024-01-02_at_2.12.35_PM.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Click here For Primary Christmas Celebration 2023</p> 
      <a href="#" class="btn btn-primary">lets see more..!!</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;float: left;margin-left:150px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3205/images/SG51_SS_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Click here For Scout Guide Camp 2023 Pictures</p>
      <a href="#" class="btn btn-primary">lets see more..!!</a>
    </div>
  </div> 
</div>
<!-- featured art and craft -->
<div style="height: 650px;width: 100%;">
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-6 float-left">
            <h1 style="color: greenyellow;text-decoration: dashed;text-align: center;">Featured Art & Craft</h1>
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3206/images/a.jpg" height="90%" width="100%" style="border: 5px solid greenyellow;">
        </div>
        <div class="col-6 float-left">
            <h1 style="color: greenyellow;text-decoration: dashed;text-align: center;">Recent Award</h1>
            <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3207/images/WhatsApp_Image_2023-12-04_at_12.08.53_PM.jpeg" height="90%" width="100%" style="border: 5px solid greenyellow;">     
        </div>
    </div>
</div>
</div>
<div class="container-fluid bg-success">
  <h1 style="color: greenyellow;text-decoration: dashed;text:center;margin-left: 590px;">Video Gallery</h1> <br>
    <div class="row">     
        <div class="col-6">
            <video controls>
              <source src="1.mp4" type="video/mp4" style="height: 150%; width: 100%;"> bharatgroupofschoolsandcolleges</source>
            </video>
        </div><br>
        <div class="col-6">
            <video src="2.mp4" controls style="height: 85%;width: 100%;">BHARAT GROUP OF SCHOOL</video>
        </div>
    </div>
</div><br><br>
<%-include("footer.ejs")%>

</body>
</html>
