<%-include("navigation_bar.ejs")%>
<br>
<h1 class="text-success text-center">Institution page </h1>
<br>
<center>
 <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3215/images/Logo.jpg" alt="logo" height="100px" width="200px">
<span class="text-center text-success"style="margin-left:20px">BHARAT GROUP OF SCHOOL AND EDUCATION</span>
</center>
<!-- <embed src="../Bharat English High School.pdf" type="pdf"> -->
    <iframe src="../Bharat English High School.pdf" height="500px" width="100%">bharatgroupofschoolsandcolleges</iframe>
<%-include("footer.ejs")%>
