<%-include("navigation_bar.ejs")%> <br>
<h1 class="text-success text-center">welcome to international_yogaday</h1><br>
<div style="margin-left:250px">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD1.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD11.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD12.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD13.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD14.jpeg" alt=""><br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD15.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD3.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD7.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD8.jpeg" alt="">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8240/images/tn/YD9.jpeg" alt="">
</div>

<%-include("footer.ejs")%>
