<%-include("navigation_bar.ejs")%>
<br>
<h1 style="text-align: center;" class="text-success"> kg standard</h1>
<center>
    <span style="color: green;">"We do not accept any donation or capitation fees for admission to any of the courses."</span><br><br>
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3216/attachments/Untitled.png" height="400px" class="img-thumbnail">
</center>
<p style="color: green; text-align: justify;margin-top: 2%;"> 
    Age required to take admission in KG as on 31st December:

Nursery - 3 yrs,      Jr. Kg - 4 yrs,      Sr. Kg - 5 yrs
 

Admission Procedure for KG Section (Play Group to Kg. Sr.) : 

Parents have to take Admission form of Rs 200 /- (Non-refundable and Non-transferrable) 
Read the admission form properly and fill  it up and submit in the office along with below listed documents : 
Documents are required :  

Original Birth Certificate. 
Attested copy of marksheet of previous class attended. (If any) 
Attested copy of caste certificate. (If applicable) 
2 recent colour passport size photographs of the child, mother and father. 
2 recent colour photographs of stamp size of child, mother and father. (For Parent's ID Card)  
Attested copy of Address proof. 
Aadhar card of the child. 
Affidavit of guardian. (If applicable) 
 

"Admission & Registration Fees to be paid at the time of confirmation of admission." 

"For Books & Uniform, charges to be paid seperately." 

"Monthly fees to be paid on or before 20th of the month." 

"In case of cancellation of admission only 50% of the amount will be refunded by cheque, If the admission is cancelled on or before 31st May.<br> A proper formal written application with valid reason would need to be submitted to the fee office." <br>
</p>
<%-include("footer.ejs")%>
