<%-include("navigation_bar.ejs")%> <br>
<h1 class="text-success text-center"> kite_festival</h1> <br>
<div class="container">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_10_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_11_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_11_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_12_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_12_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_13_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_13_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_14_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_14_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_15_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_15_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_16_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_1_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_2_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_2_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_3_.jpeg" class="img-thumbnail">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8497/images/tn/CM1_3_.jpeg" class="img-thumbnail">
<br><br><br>
</div>  
<%-include("footer.ejs")%>
