<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center">welcome to medal_page</h1><br>
<div class="container" style="margin-left: 350px;">
    <img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0982.jpeg" height="200px" >
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0983.jpeg" height="200px">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0987.jpeg" height="200px">
<br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0996.jpeg" height="200px">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3197/images/0994.jpeg" height="200px">
</div>
<br><br>
<%-include("footer.ejs")%>
