<%-include("navigation_bar.ejs")%> <br>
<h1 class="text-center text-success" >welcome to ping_pong_knight</h1><br>
<span class="text-center text-success" style="margin-left: 370px;">Our students participated in the Mumbai Premier League Table Tennis Championship held in June 2023.</span>
<br><br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8184/images/tn/WhatsApp_Image_2023-12-04_at_11.22.01_AM.jpeg"style="margin-left:4%" width="90%" height="500px">
<%-include("footer.ejs")%>
