<%-include("navigation_bar.ejs")%>
<br>
<h1 class="text-success text-center">welcome to primary_page</h1><br>
<span class="text-success " style="margin-left: 30%;">We do not accept any donation or capitation fees for admission to any of the courses."</span>
<br> <br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/3216/attachments/Untitled.png" height="400px" class="img-thumbnail" style="margin-left: 170px;">
<br> <br>
<p class="text-justify text-success" style="margin-left: 70px;">Age required to take admission in Std. 1st as on 31st December : <br>
    

    Std. 1st - 6 years <br>
    
     
    
    Admission Procedure for Primary & Secondary Section (Std. 1st to 9th) : <br>
    
    Parents have to take Admission form of Rs 200 /- (Non-refundable and Non-transferrable)
    Read the admission form properly and fill  it up and submit in the office along with below listed documents : <br>
    Documents are required :  
    
    Original Birth Certificate. (Only for Std. 1st Admission) <br>
    Leaving Certificate for previous school attended. <br>
    Attested copy of marksheet of previous class attended. (If any) <br>
    Attested copy of caste certificate. (If applicable) <br>
    2 recent colour passport size photographs of the child, mother and father. <br>
    2 recent colour photographs of stamp size of child, mother and father. (For Parent's ID Card)  <br>
    Attested copy of Address proof. <br>
    Aadhar card of the child. <br>
    Affidavit of guardian. (If applicable) <br>
    Handicap Certificate of civil surgeon. (If applicable) <br>
     
    
    "Admission & Registration Fees to be paid at the time of confirmation of admission." <br>
    
    "For Books & Uniform, charges to be paid seperately." <br>
    
    "Monthly fees to be paid on or before 20th of the month." <br>
    
    "In case of cancellation of admission only 50% of the amount will be refunded by cheque, If the admission is cancelled on or before 31st May.
    <br> A proper formal written application with valid reason would need to be submitted to the fee office."</p>
<%-include("footer.ejs")%>
