<%-include("navigation_bar.ejs")%>
<br><br>
<h1 class="text-success text-center">welcome to rakshabandhan</h1>
<br><br>
<div style="margin-left: 15%;">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA1.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA10.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA10.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA11.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA12.jpeg" class="img-thumbnail"><br><br>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA2.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA3.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA4.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA5.jpeg" class="img-thumbnail">
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8266/images/tn/RA7.jpeg" class="img-thumbnail">
</div>
<br><br>
<%-include("footer.ejs")%>
