<%-include("navigation_bar.ejs")%>
<h1 class="text-success text-center"> under_dogs</h1><br>
<p class="text-success text-center">Our students participated in the Mumbai Premier League Table Tennis Championship held in June 2023.</p>
<img src="https://badlapur.bharatgroupofschoolsandcolleges.in/content/13/8183/images/tn/WhatsApp_Image_2023-12-04_at_11.24.47_AM.jpeg" height="400px" width="100%">
<%-include("footer.ejs")%>
